*.class
*.jar
Gateway/*.class
.idea/
*.iml
.vscode/
.DS_Store

*.p12
*.jks
*.pem
*.key
certs/client-keystore.p12
certs/server-keystore.p12
Gateway/client-keystore.p12
Gateway/server-keystore.p12
Gateway/server-truststore.p12
Gateway/client-truststore.p12
.env